---
import Main from "../layouts/Main.astro";
import {collections} from '../content/config';
import {getCollection} from 'astro:content';

const contents = new Map<string, { href: string; title: string }[]>(
	await Promise.all(Object.keys(collections).map(
		async (content:any):Promise<[string, { href: string; title: string }[]]> => [
		content ,
		// @ts-ignore
		(await getCollection(content)).map(({slug, collection, data:{title}})=>({
			href: `./${collection}/${slug}/`,
			title,
		}))
	]))
);

---

<Main title="Note">
	<ul>
		{
			Array.from(contents.entries()).map(([name, content]) => (
				<li>
					<a href={`./${name}/`}>{name}</a>
					<ul>
						{
							content.map(({ href, title }) => (
								<li>
									<a {href}>{title ?? href}</a>
								</li>
							))
						}
					</ul>
				</li>
			))
		}
	</ul>
</Main>
